/* #region || root */
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --lightblue: #0e71d4;
    --darkblue: #101941;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    font-family: 'Roboto Mono', monospace;
    background-color: #e9e9e9;
    overflow-x: hidden;
}

/* #endregion */
/* #region || header/nav */

.parallax-img {
    background-image: url("./img/banner.jpg");
    min-height: 300px;
    /* parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px -8px 10px -8px black;
}

.title {
    color: white;
    position: absolute;
    top: 150px;
    left: 100px;
    font-family: 'Monoton', cursive;
    font-size: 70px;
    font-weight: lighter;
    user-select: none;
    transition: font-size 0.5s;
}

header {
    position: fixed;
    z-index: 100;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    background-color: var(--darkblue);
    box-shadow: 0px 0px 10px 2px black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .triangle-page-marker {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid white;
    top: 0;
    margin-left: 45px; /* home page */
    transition: margin 300ms;
}

nav .triangle-page-marker[data-current-page="charts"] {
    margin-left: 159px; 
}

nav .triangle-page-marker[data-current-page="about"] {
    margin-left: 279px; 
}

nav button {
    display: block;
    font-family: 'Roboto Mono', monospace;
    cursor: pointer;
    color: white;
    padding: 10px 30px;
    font-weight: 300;
    font-size: 18px;
    transition: padding 0.2s, font-size 0.2s; /* smooth media-query transition */
    border: none;
    background: transparent;
}

nav button .current-web-page {
    color: cyan;
}

nav button span {
    position: relative;
}

/* sliding effect */
nav button span::before {
    content: "";
    position: absolute;
    background: dodgerblue;
    width: 100%;
    height: 10%;
    bottom: -3px;
    left: 0;
    overflow: hidden;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform 250ms ease-out;
    z-index: -1;
}

nav button:hover span:before,
nav button:focus span:before,
nav button:active span:before {
    transform: scale(1, 1);
}


@media (max-width: 675px) {
    .title {
        left: 50%;
        transform: translatex(-50%);
    }
}

@media (max-width: 600px) {
    .title {
        font-size: 50px;
    }
}

@media (max-width: 400px) {
    .title {
        font-size: 40px;
    }
}

@media (max-width: 300px) {
    .title {
        font-size: 30px;
    }

    nav .triangle-page-marker {
        margin-left: 32px; /* home page */
    }
    
    nav .triangle-page-marker[data-current-page="charts"] {
        margin-left: 120px; 
    }
    
    nav .triangle-page-marker[data-current-page="about"] {
        margin-left: 214px; 
    }

    nav button {
        padding: 10px 20px;
        font-size: 16px;
    }
}

/* #endregion */
/* #region || main */
main {
    background-color: #e9e9e9;
    display: flex; /* to fix collapsing margin issues */
    flex-direction: column;
    position: relative;
    /* switching pages animation */
    transition: left 0.2s;
    left: 0;
}

    /* #region || HOME page */

.loading {
    display: block;
    margin: auto;
    margin-top: 100px;
    height: 100px;
    width: 100px;
}

.search-and-fetchBtn-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 25px;
    align-items: center;
    align-content: center;
}

.notFoundH2 {
    margin-top: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}

@media (max-width: 640px) {
    .search-and-fetchBtn-container {
        flex-direction: column;
    }
    .search-and-fetchBtn-container #refreshApiBtn {
        margin-top: 15px;
    }
}

@media (max-width: 400px) {
    .search-and-fetchBtn-container {
        padding: 25px 5px;
    }
}

        /* #region || refresh API button + tooltip */
#refreshApiBtn {
    position: relative;
    min-height: 35px;
    min-width: 35px;
    text-align: center;
    display: grid;
    place-content: center;
    place-items: center;
    font-size: 30px;
    font-weight: bolder;
    color: var(--lightblue);
    background-color: transparent;
    cursor: pointer;
    border: none;
    margin: 0 100px;
    margin-top: 2px;
}

#refreshApiBtn:focus {
    border: 3px solid black;
}
    
/* tooltip for refreshApiBtn */
.tooltip {
    visibility: hidden;
	z-index: -1;
    opacity: 0;
	background: black;
	color: white;
	min-width: 140px;
    font-size: small;
    font-weight: 300;
	overflow-wrap: break-word;
	position: absolute;
	top: calc(100% + 15px);
	left: 50%;
	transform: translatex(-50%);
	padding: 10px;
	border-radius: 15px;
	transition: opacity 0.2s;
}

/* tooltip triangle */
.tooltip::before {
	content: "";
	position: absolute;
	top: -9px;
	left: 50%;
	transform: translatex(-50%);
	border-style: solid;
	border-color: transparent transparent black transparent;
	border-width: 0 10px 10px 10px;
}

#refreshApiBtn:hover .tooltip{
    z-index: 99;
    visibility: visible;
	opacity: 0.8;
}

/* #endregion */
        /* #region || search-box */

.search-container {
    width: 100%;
    max-width: 600px;
    background-color: transparent;
    display: flex;
}

.search-text-input {
    height: 35px;
    padding: 5px;
    background-color: white;
    border: none;
    border: 3px solid var(--lightblue);
    border-right: none;
    border-radius: 5px 0 0 5px;
    flex-grow: 1;
    min-width: 90px;
    z-index: 1;
    width: 0;
}

.search-text-input:focus {
    outline: none;
    border: 3px solid black;
}

.search-container button {
    min-height: 35px;
    min-width: 35px;
    text-align: center;
    display: grid;
    place-content: center;
    place-items: center;
    font-size: 18px;
    color: white;
    background-color: var(--lightblue);
    cursor: pointer;
    border: none;
}

.search-container button:focus {
    border: 3px solid black;
}

.search-container .search-btn {
    border-radius: 0 5px 5px 0;
}

.search-container .search-mic-btn {
    border-radius: 100%;
    margin-left: 5px;
    transition: font-size 0.3s; 
    border: 3px solid transparent;
}

.search-container .search-mic-btn.listening {
    font-size: 24px;
    position: relative;
}

.search-container .search-mic-btn.listening::before {
    content: "Listening...";
    position: absolute;
    top: calc(100% + 10px);
    display: block;
    width: max-content;
    color: white;
    background-color: rgba(0, 0, 0, 0.418);
    border-radius: 7px;
    padding: 5px;
    z-index: 100;
}

            /* #region || checkbox drop-down menu */
/* checkbox */
.search-container #search-checkbox {
    display: none;
}

/* label */
.search-container .search-label {
    position: relative;
    min-height: 35px;
    min-width: 35px;
    text-align: center;
    display: grid;
    place-content: center;
    place-items: center;
    font-size: 18px;
    color: var(--lightblue);
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.search-container .search-label:focus,
.search-container #search-checkbox:checked ~ .search-label {
    color: var(--darkblue);
}

.search-container .search-dropdown-menu {
    visibility: hidden;
    opacity: 0;
    font-size: 14px;
    position: absolute;
    width: max-content;
    padding: 10px 15px;
    top: calc(100% + 15px);
    left: -13%;
    background: black;
    color: white;
    z-index: -1;
	border-radius: 10px;
	transition: opacity 0.2s;
}

/* triangle */
.search-container .search-dropdown-menu::before {
	content: "";
	position: absolute;
	top: -9px;
	left: 8%;
	border-style: solid;
	border-color: transparent transparent black transparent;
	border-width: 0 10px 10px 10px;
}

/* toggle dropdown menu if checkbox is checked */
.search-container #search-checkbox:checked ~ .search-label .search-dropdown-menu {
    visibility: visible;
    z-index: 99;
    opacity: 0.8;
}

.search-container .search-dropdown-menu label {
    margin-left: 8px;
}

.flex-row {
    display: flex;
    align-items: center;
}

/* #endregion */
/* #endregion */
        /* #region || pagination */

.pagination {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    user-select: none;
    margin-bottom: 25px;
}

.page-number {
    height: 35px;
    width: 35px;
    background-color: white;
    border: 1px solid grey;
    display: grid;
    place-content: center;
    cursor: pointer;
    transition: font-size 0.2s, width 0.2s, height 0.2s; /* for smooth media-query transition */
}

.page-number:hover:not(.disabled):not(.current-coins-page):not(.dots) {
    background-color: rgba(30, 143, 255, 0.253);
}

.current-coins-page {
    background-color: lightgrey;
    font-weight: bold;
    cursor: default;
}

.dots {
    background-color: transparent;
    border-color: transparent;
    font-weight: bold;
    cursor: default;
}

.previous-page {
    margin-right: 4px;
    border-radius: 100%;
    padding-top: 1px;
    padding-right: 2px;
    font-size: 12px;
}

.next-page {
    margin-left: 4px;
    border-radius: 100%;
    padding-top: 1px;
    padding-left: 2px;
    font-size: 12px;
}

.disabled {
    cursor: default;
    background-color: lightgrey;
}

@media (max-width: 480px) {
    .page-number {
        height: 30px;
        width: 30px;
    }
}
@media (max-width: 400px) {
    .page-number {
        height: 25px;
        width: 25px;
        font-size: 12px;
    }

    .previous-page, .next-page {
        display: none;
    }
}

/* #endregion */
        /* #region || cards */

.cardsContainer {
    width: 100%;
    gap: 25px;
    padding: 25px 0;
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fill, 280px);
}

.card {
    min-height: 200px;
    height: max-content;
    overflow: hidden;
    background-color: white;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 5px 6px rgba(0,0,0,0.15);
}

.card h2 {
    font-size: 20px;
    font-weight: 700;
    max-width: 205px;
    position: relative;
    top: 10px;
    left: 10px;
    overflow-wrap: break-word;
}

.card h3 {
    font-size: 12px;
    position: relative;
    top: 15px;
    left: 10px;
    max-width: 270px;
}

.card .symbol {
    color: var(--lightblue)
}

.card button {
    width: 100px;
    height: 35px;
    color: white;
    background-color: var(--lightblue);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

            /* #region || more-info slider */
.more-info-container {
    display: none;
    margin: 35px 10px 30px 10px !important; /* override jquery animation */
    height: 150px;
}

.more-info-container .loading {
    display: block;
    margin: auto;
    height: 80px;
    width: 80px;
}

.more-info-container .coin-image {
    display: block;
    margin: auto;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 100%;
}

.more-info-container h4 {
    display: inline-block;
    font-size: 14px;
}

.more-info-container span {
    color:rgb(36, 145, 60);
}

.more-info-container select {
    font-size: 14px;
    border: 2px solid black;
    border-radius: 6px;
    padding: 3px;
    margin-bottom: 30px;
}

/* #endregion */
            /* #region || checkbox */

.card-checkbox-input {
	display: none;
}

.card-checkbox-label {
	cursor: pointer;
	width: 50px;
	height: 30px;
	background-color: rgb(196, 196, 196);
	display: block;
	border-radius: 100px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.card-checkbox-label:after {
	content: '';
	position: absolute;
	top: 2.5px;
	left: 2.5px;
	width: 25px;
	height: 25px;
	background-color: #fff;
	border-radius: 50%;
	transition: 0.3s;
}

.card-checkbox-input:checked ~ .card-checkbox-label {
	background-color: var(--lightblue);
}

.card-checkbox-input:checked ~ .card-checkbox-label:after {
	left: calc(100% - 2.5px);
	transform: translateX(-100%);
}

.card-checkbox-label:active:after {
	transform: translateX(18%);
}

.card-checkbox-input:checked ~ .card-checkbox-label:active:after {
	transform: translateX(-118%);
}

/* #endregion */
/* #endregion */
        /* #region || popup modal */

.popup-dark-overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.473);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    align-items: center;
    justify-content: center;
}

.popup-container {
    min-height: 250px;
    /* max-width: 450px; */
    min-width: 450px;
    /* flex-grow: 1; */
    padding: 20px;
    overflow: auto;
    border-radius: 10px;
    background-color: rgb(224, 224, 224);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 5px 6px rgba(0,0,0,0.15);
}

.popup-container .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.popup-container h1 {
    font-size: 17px;
    font-weight: 700;
}

.popup-container .popup-exit-button {
    border: 2px solid grey;
    cursor: pointer;
    border-radius: 10px;
    height: max-content;
    width: max-content;
    padding: 6px 10px;
    font-size: 16px;
}

.popup-container .popup-exit-button:hover {
    background-color: rgb(223, 113, 113);
}

.popup-body {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
}

.flex-row {
    display: flex;
    justify-content: space-between;
}

.popup-body p {
    font-size: 16px;
    display: block;
    margin-right: 8px;
}

.popup-body .card-checkbox-label {
    position: relative;
    min-width: 50px;
    top: unset;
    right: unset;
}

/* #endregion */
/* #endregion */
    /* #region || CHARTS Page (live reports) */
.chart-container {
    width: 70vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-bottom: 10px;
    overflow: hidden;
    align-self: center;
    margin-top: 20px;
    transition: width 0.2s;
}

.chart {
    width: 100%;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 5px 6px rgba(0,0,0,0.15);
    border-radius: 15px;
}

#create-graph-btn,
#stop-interval-btn {
    margin-top: 10px;
    padding: 15px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 5px 6px rgba(0,0,0,0.15);
    cursor: pointer;
    width: 20%;
    transition: box-shadow 0.2s, width 0.2s;
}

#create-graph-btn:hover,
#stop-interval-btn:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.40), 0 5px 6px rgba(0,0,0,0.25);
}

#create-graph-btn {
    background: rgb(156, 240, 156);
}

#stop-interval-btn {
    background: rgb(245, 171, 163);
}

@media (max-width: 1200px) { 
    .chart-container {
        width: 80vw;
    }
}

@media (max-width: 1100px) { 
    .chart-container {
        width: 90vw;
    }
}

@media (max-width: 1000px) { 
    .chart-container {
        width: 95vw;
    }
}

@media (max-width: 900px) { 
    .chart-container {
        width: 97vw;
        padding: 5px;
    }
}

@media (max-width: 800px) { 
    #create-graph-btn,
    #stop-interval-btn {
        width: 40%;
    }
}

@media (max-width: 500px) { 
    .chart-container {
        width: 100vw;
        padding: 0;
    }
    #create-graph-btn,
    #stop-interval-btn {
        width: 100%;
    }
}


/* #endregion */
    /* #region || ABOUT Page */

.about-page-container {
    width: 100%;
    max-width: 1800px;
    min-height: 100vh;
    box-shadow: 13px 0 15px -10px rgba(0,0,0,0.7),
               -13px 0 15px -10px rgba(0,0,0,0.7);
    margin: auto;
    height: 100%;
    background: rgb(233,233,233);
    background: linear-gradient(174deg, rgba(233,233,233,1) 29%, rgba(16,25,65,1) 31%);
}

@media (min-height: 2000px) {
    .about-page-container {
        background: linear-gradient(172deg, rgba(233,233,233,1) 19%, rgba(16,25,65,1) 21%);
    }    
}

        /* #region || section 1 */

.about-page-section-1 {
    padding: 100px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "text img";
    transition: padding 0.2s;
}

.about-page-section-1 .text {
    grid-area: text;
}

.about-page-section-1 .crypto-coins-img {
    grid-area: img;
    max-height: 350px;
    transition: max-height 0.2s;
}

.about-page-section-1 h1 {
    max-width: 720px;
    transition: font-size 0.2s;
}

.about-page-section-1 h2 {
    max-width: 400px;
    margin-left: 20px;
    margin-top: 35px;
    font-size: 20px;
    font-weight: 400;
    transition: font-size 0.2s;
}

@media (max-width: 1160px) { 
    .about-page-section-1 {
        grid-template-columns: 1fr;
        /* grid-template-rows: 2fr 5fr; */
        grid-template-rows: 2fr 3fr;
        grid-template-areas: 
            "text"
            "img";
    }

    .about-page-section-1 .crypto-coins-img {
        margin-top: 30px;
        max-height: 300px;
    }
}

@media (max-width: 790px) {
    .about-page-section-1 h1 {
        font-size: 28px;
    }
    
    .about-page-section-1 h2 {
        font-size: 18px;
    }

    .about-page-section-1 .crypto-coins-img {
        grid-area: img;
        max-height: 250px;
    }
}

@media (max-width: 600px) {
    .about-page-section-1 {
        padding: 75px;
        grid-template-rows: 1fr 1fr;
    }

    .about-page-section-1 h1 {
        font-size: 24px;
        max-width: 600px;
    }
    
    .about-page-section-1 h2 {
        font-size: 16px;
    }

    .about-page-section-1 .crypto-coins-img {
        grid-area: img;
        max-height: 200px;
        margin: auto;
        margin-top: 30px;
    }
}

@media (max-width: 500px) {
    .about-page-section-1 {
        padding: 65px;
    }

    .about-page-section-1 h1 {
        font-size: 22px;
        max-width: 500px;
    }
    
    .about-page-section-1 h2 {
        font-size: 14px;
    }

    .about-page-section-1 .crypto-coins-img {
        grid-area: img;
        max-height: 160px;
    }
}

@media (max-width: 410px) {
    .about-page-section-1 {
        padding: 50px;
    }
}

@media (max-width: 350px) {
    .about-page-section-1 {
        padding: 10px;
    }
}

/* #endregion */
        /* #region || section 2 */

        
.about-page-section-2 {
    padding: 0 100px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    "title title"
    "img2 info";
    transition: padding 250ms;
}
        
.about-page-section-2 .section-2-title {
    margin-left: 200px;
    margin-bottom: 100px;
    grid-area: title;
    color: var(--lightblue);
    font-size: 32px;
    transform: rotate(-7deg);
    transition: font-size 0.2s;
}

.about-page-section-2 .section-2-info {
    grid-area: info;
    color: white;
    margin-top: 50px;
    margin-left: 30px;
}

.about-page-section-2 .elon-musk-img {
    grid-area: img2;
    max-height: 400px;
    transition: max-height 0.2s;
}

.about-page-section-2 .p {
    margin-top: 20px;
    margin-left: 25px;
    max-width: 430px;
    color: #c5c5c5;
}

.about-page-section-2 .icons {
    width: max-content;
    margin-top: 20px;
    margin-left: auto;
    padding-right: 30px;
}

.about-page-section-2 .icons a {
    color: white;
    font-size: 28px;
}

.about-page-section-2 .icons a i {
    transition: transform 280ms;
}

.about-page-section-2 .icons a:hover i {
    transform: scale(1.3) translateY(-10px);
}

@media (max-width: 910px) {
    .about-page-section-2 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 6fr 4fr;
        grid-template-areas: 
            "title"
            "img2"
            "info";
        justify-items: center;
    }

    .about-page-section-2 .section-2-title {
        margin: unset;
    }
}

@media (max-width: 600px) {
    .about-page-section-2 {
        padding: 75px;
        padding-top: 0;
    }

    .about-page-section-2 .section-2-title {
        font-size: 28px;
    }

    .about-page-section-2 .elon-musk-img {
        max-height: 350px;
    }

    .about-page-section-2 .section-2-info {
        margin-top: 25px;
    }
}

@media (max-width: 500px) {
    .about-page-section-2 {
        padding: 65px;
        padding-top: 0;
        grid-template-rows: 1fr 4fr 4fr;
    }

    .about-page-section-2 .section-2-title {
        font-size: 24px;
    }

    .about-page-section-2 .elon-musk-img {
        max-height: 300px;
    }
}

@media (max-width: 410px) {
    .about-page-section-2 {
        padding: 50px;
        padding-top: 0;
        grid-template-rows: 1fr 4fr 5fr;
    }

    .about-page-section-2 .elon-musk-img {
        max-height: 250px;
    }

    .about-page-section-2 .section-2-info {
        margin-top: 10px;
    }
}

@media (max-width: 350px) {
    .about-page-section-2 {
        padding: 10px;
        padding-top: 0;
        grid-template-rows: 1fr 5fr 6fr;
    }

    .about-page-section-2 .section-2-title {
        font-size: 22px;
    }

    .about-page-section-2 .elon-musk-img {
        max-height: 250px;
    }
}
/* #endregion */
/* #endregion */
/* #endregion */
