/* #region || root */
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --lightblue: rgb(14, 113, 212);
    --darkblue: rgb(16, 25, 65);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    font-family: 'Roboto Mono', monospace;
    background-color: #e9e9e9;
}

/* #endregion */
/* #region || header/nav */

.parallax-img {
    background-image: url("./img/banner.jpg");
    min-height: 300px;
    /* parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px -8px 10px -8px black;
}

.title {
    color: white;
    position: absolute;
    top: 150px;
    left: 100px;
    font-family: 'Monoton', cursive;
    font-size: 70px;
    font-weight: lighter;
    user-select: none;
    transition: font-size 0.5s;
}

header {
    position: fixed;
    z-index: 100;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    background-color: var(--darkblue);
    box-shadow: 0px 0px 10px 2px black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    font-weight: 300;
    font-size: 18px;
}

nav a span {
    position: relative;
}

/* sliding effect */
nav a span::before {
    content: "";
    position: absolute;
    background: dodgerblue;
    width: 100%;
    height: 10%;
    bottom: -3px;
    left: 0;
    overflow: hidden;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform 250ms ease-out;
    z-index: -1;
}

nav a:hover span:before,
nav a:focus span:before,
nav a:active span:before {
    transform: scale(1, 1);
}


@media (max-width: 675px) {
    .title {
        left: 50%;
        transform: translatex(-50%);
    }
}

@media (max-width: 600px) {
    .title {
        font-size: 50px;
    }
}

@media (max-width: 400px) {
    .title {
        font-size: 40px;
    }
}

@media (max-width: 300px) {
    .title {
        font-size: 30px;
    }

    nav a {
        padding: 10px 20px;
        font-weight: 300;
        font-size: 16px;
    }
}

/* #endregion */
/* #region || main */
main {
    background-color: #e9e9e9;
    display: flex; /* to fix collapsing margin issues */
    flex-direction: column;
}

.loading {
    display: block;
    margin: auto;
    margin-top: 100px;
    height: 100px;
    width: 100px;
}

.search-and-fetchBtn-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 25px;
    align-items: center;
    align-content: center;
}

.notFoundH2 {
    margin: auto;
    margin-top: 30px;
}

@media (max-width: 640px) {
    .search-and-fetchBtn-container {
        flex-direction: column;
    }
    .search-and-fetchBtn-container #refreshApiBtn {
        margin-top: 15px;
    }
}

@media (max-width: 400px) {
    .search-and-fetchBtn-container {
        padding: 25px 5px;
    }
}

/* #region || refresh API button + tooltip */
#refreshApiBtn {
    position: relative;
    min-height: 35px;
    min-width: 35px;
    text-align: center;
    display: grid;
    place-content: center;
    place-items: center;
    font-size: 30px;
    font-weight: bolder;
    color: var(--lightblue);
    background-color: transparent;
    cursor: pointer;
    border: none;
    margin: 0 100px;
    margin-top: 2px;
}

#refreshApiBtn:focus {
    border: 3px solid black;
}
    
/* tooltip for refreshApiBtn */
.tooltip {
    visibility: hidden;
	z-index: -1;
    opacity: 0;
	background: black;
	color: white;
	min-width: 140px;
    font-size: small;
    font-weight: 300;
	overflow-wrap: break-word;
	position: absolute;
	top: calc(100% + 15px);
	left: 50%;
	transform: translatex(-50%);
	padding: 10px;
	border-radius: 15px;
	transition: opacity 0.2s;
}

/* tooltip triangle */
.tooltip::before {
	content: "";
	position: absolute;
	top: -9px;
	left: 50%;
	transform: translatex(-50%);
	border-style: solid;
	border-color: transparent transparent black transparent;
	border-width: 0 10px 10px 10px;
}

#refreshApiBtn:hover .tooltip{
    z-index: 99;
    visibility: visible;
	opacity: 0.8;
}

/* #endregion */
/* #region || search-box */

.search-container {
    width: 100%;
    max-width: 600px;
    background-color: transparent;
    display: flex;
}

.search-text-input {
    height: 35px;
    padding: 5px;
    background-color: white;
    border: none;
    border: 3px solid var(--lightblue);
    border-right: none;
    border-radius: 5px 0 0 5px;
    flex-grow: 1;
    min-width: 90px;
    z-index: 1;
    width: 0;
}

.search-text-input:focus {
    outline: none;
    border: 3px solid black;
}

.search-container button {
    min-height: 35px;
    min-width: 35px;
    text-align: center;
    display: grid;
    place-content: center;
    place-items: center;
    font-size: 18px;
    color: white;
    background-color: var(--lightblue);
    cursor: pointer;
    border: none;
}

.search-container button:focus {
    border: 3px solid black;
}

.search-container .search-btn {
    border-radius: 0 5px 5px 0;
}

.search-container .search-mic-btn {
    border-radius: 100%;
    margin-left: 5px;
    transition: font-size 0.3s; 
    border: 3px solid transparent;
}

.search-container .search-mic-btn.listening {
    font-size: 24px;
    position: relative;
}

.search-container .search-mic-btn.listening::before {
    content: "Listening...";
    position: absolute;
    top: calc(100% + 10px);
    display: block;
    width: max-content;
    color: white;
    background-color: rgba(0, 0, 0, 0.418);
    border-radius: 7px;
    padding: 5px;
    z-index: 100;
}

/* #region || checkbox drop-down menu */
/* checkbox */
.search-container #search-checkbox {
    display: none;
}

/* label */
.search-container .search-label {
    position: relative;
    min-height: 35px;
    min-width: 35px;
    text-align: center;
    display: grid;
    place-content: center;
    place-items: center;
    font-size: 18px;
    color: var(--lightblue);
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.search-container .search-label:focus,
.search-container #search-checkbox:checked ~ .search-label {
    color: var(--darkblue);
}

.search-container .search-dropdown-menu {
    visibility: hidden;
    opacity: 0;
    font-size: 14px;
    position: absolute;
    width: max-content;
    padding: 10px 15px;
    top: calc(100% + 15px);
    left: -13%;
    background: black;
    color: white;
    z-index: -1;
	border-radius: 10px;
	transition: opacity 0.2s;
}

/* triangle */
.search-container .search-dropdown-menu::before {
	content: "";
	position: absolute;
	top: -9px;
	left: 8%;
	/* transform: translatex(-50%); */
	border-style: solid;
	border-color: transparent transparent black transparent;
	border-width: 0 10px 10px 10px;
}

/* toggle dropdown menu if checkbox is checked */
.search-container #search-checkbox:checked ~ .search-label .search-dropdown-menu {
    visibility: visible;
    z-index: 99;
    opacity: 0.8;
}

.search-container .search-dropdown-menu label {
    margin-left: 8px;
}

.flex-row {
    display: flex;
    align-items: center;
}

/* #endregion */
/* #endregion */
/* #region || pagination */

.pagination {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
}

.pageNumber {
    height: 35px;
    width: 35px;
    background-color: azure;
    border: 1px solid grey;
    /* border-left: unset; */
    display: grid;
    place-content: center;
    cursor: pointer;
}

.pageNumber:hover {
    background-color: aquamarine;
}

.currentPage {
    background-color: lightgrey;
    font-weight: bold;
    cursor: default;
}

.currentPage:hover {
    background-color: lightgrey;
}

/* #endregion */
/* #region || cards */

.cardsContainer {
    width: 100%;
    gap: 25px;
    padding: 25px 0;
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fill, 280px);
	grid-auto-rows: 200px;
}

.card {
    overflow: hidden;
    background-color: white;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 5px 6px rgba(0,0,0,0.15);
}

.card h2 {
    font-size: 20px;
    font-weight: 700;
    max-width: 200px;
    position: relative;
    top: 10px;
    left: 10px;
    overflow-wrap: break-word;
}

.card h3 {
    font-size: 12px;
    position: relative;
    top: 15px;
    left: 10px;
    max-width: 270px;
}

.card .symbol {
    color: var(--lightblue)
}

.card button {
    width: 100px;
    height: 35px;
    color: white;
    background-color: var(--lightblue);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

/* #region || checkbox */

.card input[type="checkbox"] {
	display: none;
}

.card label {
	cursor: pointer;
	width: 50px;
	height: 30px;
	background-color: rgb(196, 196, 196);
	display: block;
	border-radius: 100px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.card label:after {
	content: '';
	position: absolute;
	top: 2.5px;
	left: 2.5px;
	width: 25px;
	height: 25px;
	background-color: #fff;
	border-radius: 50%;
	transition: 0.3s;
}

.card input:checked ~ label {
	background-color: var(--lightblue);
}

.card input:checked ~ label:after {
	left: calc(100% - 2.5px);
	transform: translateX(-100%);
}

.card label:active:after {
	transform: translateX(18%);
}

.card input:checked ~ label:active:after {
	transform: translateX(-118%);
}

/* #endregion */
/* #endregion */
/* #region || moreinfo popup */

.popup-dark-overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.473);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    align-items: center;
    justify-content: center;
}

.popup-container {
    min-height: 250px;
    max-width: 450px;
    flex-grow: 1;
    padding: 20px;
    overflow: auto;
    border-radius: 10px;
    background-color: rgb(224, 224, 224);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 5px 6px rgba(0,0,0,0.15);
}

.popup-container .popup-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 20px;
}

.popup-container .popup-exit-button {
    border: 2px solid grey;
    cursor: pointer;
    border-radius: 10px;
    height: max-content;
    width: max-content;
    padding: 6px 10px;
    font-size: 16px;
}

.popup-container .popup-exit-button:hover {
    background-color: rgb(223, 113, 113);
}

.popup-container .popup-menu-title {
    margin: 0;
}

.popup-body .loading {
    display: block;
    margin: auto;
    margin-top: 10px;
    height: 100px;
    width: 100px;
}

.popup-body .coin-image {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 100%;
}

.popup-body h4 {
    display: inline-block;
}

.popup-body span {
    color:rgb(36, 145, 60);
}

.popup-body select {
    font-size: 14px;
    border: 2px solid black;
    border-radius: 6px;
    padding: 3px;
}

/* #endregion */
/* #endregion */
